
body{
    background-color:#CECFC7;
    color: rgb(87, 50, 128);
 
}
h1{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Lato', sans-serif; 
}
.texto1{
    font-family: 'Lumanosimo', cursive;
}
.texto2{
    font-family: 'Roboto', sans-serif;
}
